Language: Cpp
IndentWidth: 4
PointerAlignment: Left
AlignAfterOpenBracket: AlwaysBreak
AllowAllArgumentsOnNextLine: true
AlwaysBreakTemplateDeclarations: Yes
BraceWrapping:
  AfterCaseLabel: true
  AfterControlStatement: Always
  AfterEnum: true
  AfterFunction: true
  AfterNamespace: true
  AfterStruct: true
  AfterExternBlock: true
  BeforeCatch: true
  BeforeElse: true
  BeforeLambdaBody: true
  BeforeWhile: true
BinPackArguments: false
BinPackParameters: false
BreakBeforeBraces: Allman
BreakBeforeInheritanceComma: true
BreakConstructorInitializers: AfterColon
BreakInheritanceList: AfterColon
ColumnLimit: 120
FixNamespaceComments: false
IncludeBlocks: Regroup
IndentCaseLabels: true
IndentCaseBlocks: true
IndentPPDirectives: BeforeHash
MaxEmptyLinesToKeep: 1
PackConstructorInitializers: Never
SpaceBeforeSquareBrackets: false
SpaceInEmptyBlock: true
SpacesInAngles: false
SpacesInConditionalStatement: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
UseCRLF: false
UseTab: Never
NamespaceIndentation: All